<% include partials/header %>

<div class="container">
    <h1> About Page</h1>
    This is about page. 
    Put your about
</div>

<ul>
    <li>Search for paticular blood type (not by location, name, for security reasons)</li>
    <li>Sign in and give options for changing profile info</li>
    <li>Signed in user cannot delete a request, he can only cancel the requests posted by himself</li>
    <li>To post a blood request, one has to sign in</li>
    <li>To see the list of blood requests, one doesn't have to sign in, (Allow them to have a look at the requests, but if they want to contact or help, login</li>
    
</ul>

<% include partials/footer %>