<% include partials/header %>

    <div class="container"> 
        <div class="jumbotron">
             <h1 class="display-4"> Welcome to Blood-DataBase!</h1>
             <p class="lead"> Seach for blood in your area.</p>
             <hr class="my-4>"
             <p>Help us help more people.</p>
             <p class="lead">
                <a class="btn btn-primary btn-lg" href="request" role="button">Learn more</a>
             </p>
         
        </div>
    </div>
        
        
<% include partials/footer %>
